<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--  关闭缓存  -->
        <setting name="cacheEnabled" value="false"/>
        <!--  下划线对应驼峰  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--  设置强制使用自动生成主键  -->
        <setting name="useGeneratedKeys" value="true"/>
        <!--  执行器会重用预处理语句,提高性能  -->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!--  超时时间  -->
        <setting name="defaultStatementTimeout" value="600"/>
    </settings>

    <mappers>
        <mapper resource="mapper/user.xml"/>
    </mappers>
</configuration>